{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-5">
      <div class="card text-center">
        <div class="card-body">
          <p class="card-text">
            2021-05-20 tarihinde <br>
            <b>Bakım tipi:</b> Yol bakım <br>
            <b>Nedeni:</b> Kaza sebebiyle bozulan asfaltın onarılması <br>
            <b>İlçe:</b> Beşiktaş <br>
            <b>Mahalle:</b> Cihannüma Mah. <br>
            <b>Sokak:</b> Barbaros Bulvarı <br>
            <b>Başlangıç saati:</b> 13 <b>Bitiş saati:</b>20 <br>
            <b>Toplam süre: </b> 7 saat </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}