{% extends "layout.html" %}
{% block content %}
<div class="container">

  <div class="row">
    <h1> </h1>
    <h4> </h4>

    <div class="col-3">
      <form method="post" action="/predictions">
      <div class="mb-3">
          <label for="maintenance_type" class="form-label">Bakım türü</label>
          <select id="maintenance_type" class="form-select" aria-label="Disabled select example" disabled>
            <option selected>Yol bakım</option>
          </select>
        </div>
      <div class="mb-3">
          <label for="maintenance_type" class="form-label">Bakım nedenini giriniz:</label>
          <input id="maintenance_type" class="form-select" aria-label="Disabled"></input>
        </div>

        <div class="mb-3">
          <label for="district" class="form-label">İlçe</label>
          <select id="district" class="form-select" aria-label="Disabled select example" disabled>
            <option selected>Beşiktaş</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="neighborhood" class="form-label">İlçe</label>
          <select id="neighborhood" class="form-select" aria-label="Disabled select example" disabled>
            <option selected>Cihannüma Mah.</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="street" class="form-label">Sokak/Cadde/Bulvar</label>
          <select class="form-select" aria-label="Disabled select example" disabled>
            <option selected>Barbaros Bulvarı</option>
          </select>
        </div>

        <div class="mb-3">
          <label for="maintenance_day" class="form-label">Bakım günü</label>
          <input id="maintenance_day" type="date" name="trip-start" value="2021-05-17" min="2021-05-17"
            max="2021-06-18" required>
        </div>

        <div class="mb-3">
          <button type="submit" class="btn btn-primary">Bakım planla</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}